@charset "UTF8";
@font-face {
    font-family: 'passion One';
    src: url(../fontes/Passion-One/PassionOne-Regular.ttf);
}
@font-face {
    font-family:'Sriracha';
    src: url(../fontes/Sriracha/Sriracha-Regular.ttf);
}
:root{
    --fonte-padrão: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-destaque: 'Passion one', sans-serif;
    --fonte-conteúdo: 'Sriracha', sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    min-height: 100vh; /*tamanho minimo da viewport do corpo do site seá 100% (seria igual a 100% no lugar de 100vh)*/
    background-color: darkgray;
    font-family: var(--fonte-padrão);
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0px;
}
header h1{
    font-variant: small-caps;/*colocando o texto todo em maiusculo,utilizou-se este código por ser menos chamativo colocando as primeiras letras maiores,outra opção seria usar: text-transform: uppercase;(o que colocaria todo o texto em maiusculo) */
    font-family: var(--fonte-destaque);
    font-size: 8vw;/*utilizou-se o vw(largura da tela) para q o conteúdo seja adaptavel ao tamanho da tela)*/
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
section{
    line-height: 1.8em;
    padding: 10vh 0px 10vh 30px;
    font-family: var(--fonte-conteúdo);
    font-size: 2.3vw;
}
section>p{
    padding-bottom: 30px;
}
.normal{
    background-color: white;
}
.imagem{
    color: white;
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.513);
}
.imagem>p{
    background-color: rgba(0, 0, 0, 0.411);
    display: inline-block;
    padding: 7px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.472);
}
#img01{
    background: url(../imagens/background001.jpg) right center fixed;
    background-size: cover;
}
#img02{
    background: url(../imagens/background002.jpg) fixed;
    background-size: cover;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 2.3vw;
    font-family: var(--fonte-conteúdo);
}